* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(255,226,189,1) 0%, rgba(255,203,189,1) 92%);
  height: 100vh;
}
.calc-color {
  color: #696565;
  box-sizing: border-box;
}
.calc {
  display: flex;
  flex-direction: column;
  background: #ffffff94;
  padding: 35px;
  min-width: 190px;
  max-width: 430px;
  border: none;
  border-radius: 25px;
  transition: .2s;
}
.calc__output {
  background: none;
  padding: 10px;
  height: 170px;
  border: none;
  border-bottom: 1px solid #5f57551c;
  outline: none;
  font-size: 40px;
  font-family: 'Arial';
  resize: none;
  transition: .2s ease;
}
.calc__output::-webkit-scrollbar-track{
  background-color: #ffffff00;
  border: none;
  border-radius: 100px;
}
.calc__output::-webkit-scrollbar{
  width: 8px;
  background-color: #ffffff00;
  border-radius: 100px;
}

.calc__output::-webkit-scrollbar-thumb{
  border-radius: 100px;
  background:  #a5a5a55b;
 }

.calc__output::-webkit-scrollbar-thumb:hover {
  background:  #a5a5a577;
}
.buttonarea {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
}
.buttonarea>button {
  background: none;
  box-shadow: none;
  border: none;
  text-align: center;
  min-width: 70px;
  min-height: 90px;
  font-size: 25px;
  font-family: 'Arial';
  transition: .2s ease;
}
.buttonarea>button:hover {
  cursor: pointer;
  background: #ffffff70;
  box-shadow: 0px 3px 25px #00000025;
}
.buttonarea>button:focus {
  background: #ffffff70;
  box-shadow: 0px 3px 25px #00000025;
}
@media(max-width: 430px) {
  .calc {
    display: grid;
    grid-template-rows: .5fr 1fr;
    height: inherit;
    padding: 0px;
    border-radius: 0px;
  }
  .buttonarea>button {
    min-height: 50px;
    font-size: 35px;
  }
  .calc__output {
    height: auto;
    font-size: 55px;
  }
}
@media(min-height: 850px) and (max-width: 430px) {
  .calc {
    grid-template-rows: .6fr 1fr;
  }
  .calc__output {
    font-size: 60px;
  }
}
@media(max-height: 660px) and (max-width: 430px) {
  .calc {
    grid-template-rows: .4fr 1fr;
  }
  .calc__output {
    font-size: 50px;
  }
}
@media(max-height: 570px) and (max-width: 375px) {
  .calc {
    grid-template-rows: .3fr 1fr;
  }
  .calc__output {
    font-size: 40px;
  }
  .buttonarea>button {
    font-size: 30px;
  }
}
